.car-value{
    /* border: 5px solid red; */
    width: 30%;
    margin-left: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    text-align: center;
    margin-right: 50px;
}

